<footer id="footer">
	<div class="footer-holder">
		<!-- footer-col -->
		<div class="footer-col">
			<!-- col -->
			<!-- <div class="col">
			<strong class="title">Industries</strong>
			<ul>
			<li><a href="/en/article/website-testing-service">Websites</a></li>
			<li><a href="/en/article/ios-testing">iOS applications </a></li>
			<li><a href="/en/article/android-application-testing">Android applications </a></li>
			<li><a href="/en/article/video-game-testing">Video games</a></li>
			<li><a href="/en/article/what-is-software-testing">Mac &amp; PC software</a></li>
			</ul>
			</div> -->
			<!-- col -->
			<div class="col"> <!-- Sitemap -->
				<strong class="title">Sitemap</strong>
				<ul>
					<li><a href="/en/software-testing-prices">Plans &amp; pricing</a></li>
					<li><a href="/en/software-testing-blog">Software testing blog</a></li>
					<li><a href="/en/freelance-software-testing-jobs">Become a tester</a></li>
				</ul>
			</div>
			<!-- col -->
			<div class="col"> <!-- About -->
				<strong class="title">About</strong>
				<ul>
					<li><a href="/en/about-crowdsourced-testing">Company info</a></li>
					<li><a href="/en/contact-crowdsourced-testing">Contact us</a></li>
				</ul>
			</div>
			<!-- col -->
			<div class="col social-col"> <!-- Social networking -->
				<strong class="title">Community</strong>
				<ul>
					<li><a href="http://twitter.com/crowdsourcingqa" target="_blank">Twitter</a></li>
					<li><a href="http://www.facebook.com/CrowdsourcedTesting" target="_blank">Facebook</a></li>
					<li><a href="http://www.linkedin.com/company/crowdsourced-testing-co-" target="_blank">LinkedIn</a></li>
					<li><a href="http://plus.google.com/101199353372182530185" rel="publisher" target="_blank">Google+</a></li>
				</ul>
			</div>
		</div>
		<!-- copyright-box -->
		<div class="copyright-box">
			<strong class="add-logo">Letustest</strong>
			<!-- copyright-text -->
			<div class="copyright-text">
				<div class="text">
					<p>letustest.com is a big society of cloud testing and the one stop shop for all your software testing needs</p>
					<p>© letustest.com 2013</p>
				</div>
			</div>
		</div>

	</div>
	<!-- World clock -->
	<div class="clock">
		<div class="outer"> <!-- Los Angeles -->
			<div class="inner"><span id="jclock1"></span><div>Los Angeles</div></div>
		</div>
		<div class="outer"><!-- Stockholm -->
			<div class="inner"><span id="jclock2"></span><div>Stockholm</div></div>
		</div>
		<div class="outer"><!-- Bangkok -->
			<div class="inner"><span id="jclock3"></span><div>Bangkok</div></div>
		</div>
		<div class="outer"><!-- Montreal -->
			<div class="inner"><span id="jclock4"></span><div>Montreal</div></div>
		</div>
		<div class="outer"><!-- London -->
			<div class="inner"><span id="jclock5"></span><div>London</div></div>
		</div>
	</div>
	<!-- button-bottom -->
	<div class="btn-bottom">
	<a href="#main" id="backtop" class="button-bottom">back to top</a>
	</div>
</footer>
