<h1>Become a New Tester</h1>

<%= render 'form' %>

Already have an account ? <%= link_to "Sign in", signin_path %> <br/>
If you are a Company and No account yet ?, <%= link_to "Company Sign up", signup_path %>

<!-- <%= link_to 'Back', testers_path %> -->