@import "bootstrap";

body {
  padding-top: 60px;
  font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif !important;
  font-size: 14px;
  line-height: 1.5;
  color: #8a92a5;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}

.theTitle h2{
  font: 35px/50px "robotobold",Arial,Helvetica,sans-serif !important;
  text-align: center;
}

h2{
  font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif !important;
  font-weight: 300 !important;
  font-size: 36px !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

textarea {
  width: 300px !important
}

.test select {
  width: 108px !important
}

/* footer */
footer#footer{
  width: 960px;
  border-top: solid 2px;
  margin-top: 10px;
}

div.footer-holder{
  position: relative;
}

div.footer-col{
  float:right;
  width: 580px;
}

div.col{
  float:left;
  width: 190px;
}

div.social-col{
  float:left;
  width: 190px;
}

div.copyright-box{
  float:left;
  width: 360px;
  height: 110px;
}

footer#footer .clock{
  width: 960px;
  height: 70px;
  padding-top: 20px;
}

footer#footer .clock .outer{
  float: left;
  width: 192px;
}

footer#footer .clock .outer .inner{
  float: left;
}

.btn-bottom{
  float: right;
}

/* header nav */
.navbar-inverse .brand, .navbar-inverse .nav > li{
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-right: 1px solid;
  line-height: 2px;
}

.navbar-inner {
  height: 60px;
}

/*.newfeedback{
  border-bottom: 2px solid;
  padding-bottom: 20px;
}*/

/*div#signup{
  float: right;
  padding-right: 10%;
}*/

/*div#signin{
  float: left;
  width: 50%;
  border-right: solid 1px;
}*/

div#user-left{
  float: left;
  width: 28%;
  margin-top: 70px;
}
div#user-right{
  float: right;
  width: 70%;
  margin-top: 70px;
}
section#draft{
  padding-top: 20px;
}
section#completed{
  padding-top: 20px;
}
a.profile-btn{
  display: block;
  margin: 10px 0 30px;
  color: #fff;
  text-align: left;
  padding: 17px 15px 17px 21px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  background: #bbb;
  width: 110px;
  height: 20px;
  border-radius:3px;
}
a.profile-btn:hover{
  background: #54ae67 !important;
}
a.project-btn{
  display: block;
  margin: 10px 0 30px;
  color: #fff;
  text-align: left;
  padding: 17px 15px 17px 21px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  background: #bbb;
  width: 165px;
  height: 20px;
  border-radius:3px;
}
a.project-btn:hover{
  background: #54ae67 !important;
}
div.clear{
  margin-top: 70px;

}
form fieldset{
  #border: 1px solid cadetblue;
  #border-radius: 6px;
  #padding: 15px 15px 15px 15px;

}
.field {
  padding-top: 20px;
  padding-bottom: 20px;

}

.inactive {
  pointer-events: none;
  cursor: default;
}

p.error{
  color: red;

}
img.media-object{
  padding: 3px 3px 3px 3px !important;

}

div.wide-box.page-description{
  padding-top: 20px;
  padding-bottom: 30px;
}

div.wide-box{

}

div.round-corners{
  border: 1px solid #d6d6d6;
  border-radius: 6px;
}

div.box{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}
section.client-request-box{
  border-top: 2px solid #bbb;
}
a.right{
  left: 555px;
  position: relative;
}

div.box-title{
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
}

div#t-stats p{
  margin: 10px 0 0;
  padding: 5px 0 0;
}

.report-row{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
}
.icon-gray{
  opacity: 0.2 !important;
  padding-right: 5px;
}

.row{
  margin-top: 50px;
}
.right-btn{
  left: 457px;
  position: relative;
  margin: 0px !important;
}

.box-shadow.gray{

  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
}

label {
  #width: 235px !important;
  #float: left;
}
textarea.question{
  width: 360px !important;

}
.nav-tabs.nav-stacked{

  margin-top: 20px !important;
}
.improve-list li{
  width: 45% ;
  float: left ;
  margin: 20px 15px;

}
.nav-tabs > .active > a{
  background-color: #ffe936 !important;
}

.nav-stacked a{
  color: #8a92a5 !important;
}

.improve-list h3{
  font-size: 16px;
  color:#4c4c46;
  line-height: 18px;
  margin: 0;

}

.improve-list p{
  font-size: 12px;
  line-height: 1.4;
  margin: 8px 0;
}

.progress{
  height: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.block{
  float: left;
}

.analytics-wrapper{
  text-align: center;

}

.main-tabs{
  border: 1px solid;
  #position: absolute;
  #left: 360px;
  float: left;
  border-color: #DDD;
}

.nav-justified > .active > a{
  background-color: #DDD !important;
}

.img-padding{
  padding-right: 15px !important;
  padding-bottom: 4px;
}
.name {
  float: left;
  position: relative;
}
.main-tabs a.pull-left{
  padding: 8px 25px;
  float: left;
}

.overflow{
  overflow: hidden;
}

.pull-left{
  color: black;
}

a.pull-left.active{
  background: #DDD !important;
}
a.pull-left:hover{
  background: #DDD !important;
  color: black !important;
  text-decoration: none !important;
}

.gray > .active > a{
  background: #ffffff !important;

}



//div.span12.all-issue{
//  padding-bottom: 10px;
//}
//
//div.issue-row{
//
//  position: relative;
//}
//div.img{
//  float: left;
//  padding-right: 5px;
//}
//
//span.comment{
//  right:5px;
//  position:absolute;
//  top: 32px;
//}
//
//div.title{
//  float:left;
//
//}
//
//h3.issue-title{
//
//  font-size: 13px;
//  font-weight: bold;
//}
//
//div.review{
//  float:right;
//}

