<h1>Letustest</h1>
<div id="main">
	<p>Letustest is a crowdsource testing where many people can come to join a new global of cloud testing.</p>
	<p>The main content of our website are listed on following: </p>
	<div class="nav">
		<ul>
			<li><%= link_to "Playground", playgrounds_path %></li>
			<li>About us</li>
			<li>Contact us</li>
			<li>Our testing service</li>
			<li><%= link_to "Request a Test", feedbacks_path %></li>
			<li>Blog</li>
			<li>Access the bug base</li>
			<li><%= link_to "Sign up now!", signup_path %> </li>
			<%= current_user %>
		</ul>
	</div>
	<div id="theContent">
		<div class="menu-header"><ul id="menu-main-menu" class="menu"><li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://qaonrequest.com/web-and-software-testing-services/">Our testing services</a></li>
			<li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="http://qaonrequest.com/software-testing-fees/">Rates and guarantee</a></li>
			<li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="http://qaonrequest.com/contact-us/">Contact us</a></li>
			<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://qaonrequest.com/software-testing-resources/">News and resources</a></li>
			<li id="menu-item-1117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1117"><a href="http://qaonrequest.com/careers/">Careers</a></li>
		</ul></div>            <div class="clearfix"></div>

		<article class="post" id="post-25">

			<div class="theHeading">
				<div class="theTitle">
					<h2>Simple, Cheap Functional Testing for Your Website.</h2>
				</div>
			</div>

			<div class="entry">  
				<table border="0" cellspacing="10" cellpadding="10">
					<tbody>
						<tr>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/Home-2471.png" alt="Software testing available 24/7" class="alignnone size-full wp-image-237"></td>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/Home-QA1.png" alt="Senior freelance software testers" class="alignnone size-full wp-image-242"></td>
						</tr>
						<tr>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/Home-No-Contract1.png" alt="Software testing no commitment" class="alignnone size-full wp-image-240"></td>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/size1.png" alt="Software testing services for interactive projects of all sizes" class="alignnone size-full wp-image-96"></td>
						</tr>
						<tr>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/Home-Minimal1.png" alt="Instantaneous Software testing" class="alignnone size-full wp-image-239"></td>
							<td><img src="http://qaonrequest.com/wp-content/uploads/2011/08/Home-Guaranteed1.png" alt="Guaranteed web and software testing service on demand" class="alignnone size-full wp-image-238"></td>
						</tr>
						<tr>
							<td style="width: 50%;">&nbsp;<p></p>
								<p>Developing interactive products is a complex endeavour. When programming is involved, a thorough Quality Assurance (QA) process is always required to ensure the final version of your product is impeccable.</p>
								<p>In the final stages of software and web development, it is particularly helpful to have talented QA staff on hand at flexible hours. But it’s not easy to gauge QA needs in advance and hiring full-time QA testers can be costly.</p>
								<p>Not to mention that it can be difficult even for the best programmers to predict exactly when an issue will be resolved and the next release of the project will be ready.</p></td>
								<td style="width: 50%;">&nbsp;<p></p>
									<p>This is where we come in.</p>
									<p>Our team is available to help test your projects at the moment that suits you best. This way, you can optimize your development process by alternating your developers and the testers’ work. </p>
									<p>We are not another testing lab or outsourcing center in Asia – we are a Montreal-based team of experienced and passionate testers who love the work that they do and care about a job well done.</p>
									<p>You will be impressed by the quality of our work. <a href="http://dev.qaonrequest.com/software-testing-fees/">We guarantee it.</a></p></td>
								</tr>
							</tbody>
						</table>
					</div>

				</article>
			</div>
		</div>