<h1>Letustest</h1>
<div id="main">
<p>Letustest is a crowdsource testing where many people can come to join a new global of cloud testing.</p>
<p>The main content of our website are listed on following: </p>
<ul>
	<li>Playground</li>
	<li>About us</li>
	<li>Contact us</li>
	<li>Our testing service</li>
	<li>Blog</li>
	<li>Access the bug base</li>
	<li><%= link_to "Sign up now!", signup_path %> </li>
</ul>
</div>
<footer id="footer">
	<div class="footer-holder">
		<!-- footer-col -->
		<div class="footer-col">
			<!-- col -->
			<div class="col">
				<strong class="title">Industries</strong>
				<ul>
					<li><a href="/en/article/website-testing-service">Websites</a></li>
					<li><a href="/en/article/ios-testing">iOS applications </a></li>
					<li><a href="/en/article/android-application-testing">Android applications </a></li>
					<li><a href="/en/article/video-game-testing">Video games</a></li>
					<li><a href="/en/article/what-is-software-testing">Mac &amp; PC software</a></li>
				</ul>
			</div>
			<!-- col -->
			<div class="col">
				<strong class="title">Sitemap</strong>
				<ul>
					<li><a href="/en/software-testing-prices">Plans &amp; pricing</a></li>
					<li><a href="/en/software-testing-blog">Software testing blog</a></li>
					<li><a href="/en/freelance-software-testing-jobs">Become a tester</a></li>
				</ul>
			</div>
			<!-- col -->
			<div class="col">
				<strong class="title">About</strong>
				<ul>
					<li><a href="/en/about-crowdsourced-testing">Company info</a></li>
					<li><a href="/en/contact-crowdsourced-testing">Contact us</a></li>
				</ul>
			</div>
			<!-- col -->
			<div class="col social-col">
				<strong class="title">Community</strong>
				<ul>
					<li><a href="http://twitter.com/crowdsourcingqa" target="_blank">Twitter</a></li>
					<li><a href="http://www.facebook.com/CrowdsourcedTesting" target="_blank">Facebook</a></li>
					<li><a href="http://www.linkedin.com/company/crowdsourced-testing-co-" target="_blank">LinkedIn</a></li>
					<li><a href="http://plus.google.com/101199353372182530185" rel="publisher" target="_blank">Google+</a></li>
				</ul>
			</div>
		</div>
		<!-- copyright-box -->
		<div class="copyright-box">
			<strong class="add-logo">Crowdsourced Testing</strong>
			<!-- copyright-text -->
			<div class="copyright-text">
				<div class="text">
					<p>letustest.com is a big society of cloud testing and the one stop shop for all your software testing needs</p>

					<p>© letustest.com 2013</p>
				</div>
			</div>
		</div>
		<!-- button-bottom -->
		<a href="#main" id="backtop" class="button-bottom">button</a>
	</div>
</footer>