<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="description" content="Executive profiles of the Crowdsourced Testing company">
<title>About Crowdsourced Testing</title>
    <link media="all" rel="stylesheet" href="/themes/crowdsourced/css/all.css">
    <link media="all" rel="stylesheet" href="/themes/crowdsourced/css/jcf.css">
    <link media="all" rel="stylesheet" href="/themes/crowdsourced/css/custom.css">

    <link rel="image_src" href="/themes/crowdsourced/images/logo-cst.jpg">

    <script type="text/javascript" src="/themes/crowdsourced/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/themes/crowdsourced/js/jquery.main.js"></script>
    
    <!--[if IE]>
    <script type="text/javascript" src="/themes/crowdsourced/js/ie.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <link media="all" rel="stylesheet" href="/themes/crowdsourced/css/ie.css"/>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div class="wrapper-holder">
        <!-- header -->
        <header id="header">
            <!-- header-holder -->
            <div class="header-holder">
                <!-- language-row -->
                <div class="language-row">
                                    </div>
                <!-- header-frame -->
                <div class="header-frame">
                    <div class="nav-bar main-nav-bar">
                            
                    <!-- logo -->
                    </div>
            </div>
        </header>
        <div id="main">
            <!-- content -->
            <div id="content">
                <div id="content">
	<!-- content -->
<div id="content">
	<!-- intro -->
	<div class="intro" style="height: 40px !important;">
		<h1>The Crowdsourced Testing company</h1>
	</div>
	<!-- contact-columns -->
	<div class="contact-columns">
		<!-- contact-col -->
		<aside class="contact-col">
			<div class="picture">
				
			</div>
			<!-- contact-box -->
			<dl class="contact-box">
				<dt>Our address</dt>
				<dd>
					<address class="address">
						<span>1751 rue Richardson</span>
						<span>suite 5.407C</span>
						<span>Montréal, Quebec</span>
						<span>H3K 1G6</span>
					</address>
				</dd>
				<dt>Call us</dt>
				<dd>
					<p>+1-514-802-8198</p>
				</dd>
				<dt>FAQs</dt>
				<dd><p>Please visit the <a href="/en/software-testing-help">Help &amp; support</a> center.</p></dd>
			</dl>
		</aside>
		<!-- col-text -->
		<div class="col-text">
			<!-- help-text -->
			<div class="help-text">
				<h2>Our mission is to help web and software developers deliver their projects on time and on budget.</h2>
				<!-- <h2>We help you ship bug-free code on time and on budget.</h2>
				<p>Our mission is to help web and software developers deliver their projects on time and on budget by providing them with excellent quality assurance testing services at flexible hours.</p> -->
			</div>
			<!-- post-container -->
			<section class="post-container">
				<h2>Meet the team</h2>
				<!-- post-row -->
				<article class="post-row">
					<div class="picture">
						<img src="/themes/crowdsourced/images/img11.jpg" alt="image description" width="150" height="170">
					</div>
					<div class="text">
						<h3>Simon Papineau, <span>CEO</span></h3>
						<p>Seeking to optimize his company’s development process, he wondered: “If only there was a way we could have access to really good software testers available anytime, on short notice, at flexible hours…”</p>
						<p>He founded the Crowdsourced Testing company and currently leads the team.</p>
					</div>
				</article>
				<!-- post-row -->
				<article class="post-row">
					<div class="picture">
						<img src="/themes/crowdsourced/images/img12.jpg" alt="image description" width="150" height="170">
					</div>
					<div class="text">
						<h3>Alain Chabot-Denis, <span>PR</span></h3>
						<p>Alain is known by many as “the guy who sings while working” – and that is a true testament of this man’s zest for life. </p>
						<p>He is both tester extraordinaire and PR guy, in charge of making us look good in our communications.</p>
					</div>
				</article>
				<!-- post-row -->
				<article class="post-row">
					<div class="picture">
						<img src="/themes/crowdsourced/images/img13.jpg" alt="image description" width="150" height="169">
					</div>
					<div class="text">
						<h3>Maxim Savard, <span>Marketing</span></h3>
						<p>Maxim has always been crazy about <br>technology. Whether it is video games or mobile phones, he’s been a geek ever since he can remember.</p>
						<p>Maxim is in charge of spreading the word about crowdsourcetesting  in the best city in the world.</p>
					</div>
				</article>
				<!-- post-row -->
				<article class="post-row">
					<div class="picture">
						<img src="/themes/crowdsourced/images/img14.jpg" alt="image description" width="150" height="170">
					</div>
					<div class="text">
						<h3>Pierre Savignac, <span>Mentor</span></h3>
						<p>Pierre Savignac is the founding president and sole owner of Emergex. Emergex SR&amp;ED Consulting helps finance technology companies through Scientific Research and Experimental Development (SR&amp;DE) tax credits and other government programs. <a href="http://www.emergex.com/en/" target="_blank">Visit Emergex’s website here.</a></p>
					</div>
				</article>
			</section>
		</div>
	</div>
</div>

</div><!-- content -->
            </div>
        </div>
