@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

textarea {
  width: 300px !important
}

.test select {
  width: 108px !important
}