@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

textarea {
  width: 300px !important
}

.test select {
  width: 108px !important
}

footer#footer{
  width: 960px;
}

div.footer-holder{
  position: relative;
}

div.footer-col{
  float:right;
  width: 580px;
  
}
div.col{
  float:left;
  width: 190px; 
}
div.social-col{
  float:left;
  width: 190px; 
}
div.copyright-box{
  float:left;
  width: 360px; 
}
footer#footer .clock{
  width: 960px;
  height: 70px;
  padding-top: 20px;
}
footer#footer .clock .outer{
  float: left;
  width: 192px;
}
footer#footer .clock .outer .inner{
  float: left;
}
/*
.nav{
	float:left;
	width:960px;
	height: 40px;
	padding:6px 0;
}
.nav ul{
	float:left;
	margin:0;
	padding:0 20px 0 0;
	list-style:none;
	overflow:hidden;
}
.nav ul li{
	float:left;
	padding:0 0 0 23px;
} */
